/*main buton container*/
.grid-container-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  flex-wrap: wrap;
  /* min-height: 70%; */
}

/*button container*/
.grid-item-details {
  /* background-color: purple; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  margin: 15px 15px 15px;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.grid-item-details button {
  width: 350px;
  height: 350px;
  outline: none;
  border-radius: 20px;
  border: none;
  transform: scale(1);
  transition: transform 0.5s;
}

.grid-item-details button:hover {
  transform: scale(1.1);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), purple;
}

.grid-item-details img {
  width: 200px;
  height: 250px;
}
