.main-container {
  width: 100vw;
  height: 50vh;
}

.d-flex {
  display: flex;
}

/*Big banner*/
.background {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
    url(./asset/lineup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  filter: brightness(70%);
  overflow: hidden;
}

/*Banner content*/
.content-container {
  margin-top: 200px;
  color: white;
}

.content-container h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.content-container h1 span {
  color: #ffde59;
  text-decoration: underline;
  text-shadow: 0 5px 25px rgb(189, 45, 185);
}

.content-container h3 {
  margin: 0;
  padding: 0;
}

/*discovering button*/
.btn-disc {
  margin: 0;
  width: 25%;
  height: 5%;
  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: purple;
  box-shadow: 0 5px 15px rgb(183, 141, 213);

  color: white;
  outline: none;
}

/*carousel container*/
.carousel-cont {
  margin-top: 10%;
  background-color: whitesmoke;
}

/*animation gif*/
.animationHome {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  flex-wrap: wrap;
  justify-content: center;
}

.pikachuRun,
.linkRun,
.marioRun {
  width: 100px;
}

/*unused search bar*/
/* .search {
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 50vh;
  justify-content: space-between;
  margin: auto;
  background-color: black;
}

.search input {
  background-color: black;
  width: 60%;
  color: white;
  outline: none;
}

input {
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
}


button:hover {
  cursor: pointer;
  color: white;
}

.search button {
  margin: 0;
  width: 30%;
  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: purple;
  color: white;
  outline: none;
} */

/* .section-cont {
  height: 100vh;
  color: black;
} */
