.main-container {
  width: 100vw;
  height: 50vh;
}

.d-flex {
  display: flex;
}

.background {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url(./asset/lineup.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 78vh;
  filter: brightness(70%);
  overflow: hidden;
}

.content-container {
  margin-top: 150px;
  color: white;
}

.content-container h1 {
  font-family: "Caveat Brush", cursive;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.content-container h1 span {
  color: #ffde59;
}

.content-container h3 {
  margin: 0;
  padding: 0;
}

.search {
  border: 3px solid white;
  border-radius: 0.5rem;
  width: 50vh;
  justify-content: space-between;
  margin: auto;
  background-color: black;
}

.search input {
  background-color: black;
  width: 60%;
  color: white;
  outline: none;
}

input {
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
  color: white;
}

.search button {
  margin: 0;
  width: 30%;
  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: purple;
  color: white;
  outline: none;
}

.section-cont {
  height: 100vh;
  color: black;
}

.carousel-cont {
  margin-top: 10%;
  background-color: whitesmoke;
}
