.discover-cont {
  margin: 16% auto;
}

.search {
  border: 3px solid white;
  border-radius: 1rem;
  width: 50vh;
  justify-content: space-between;
  margin: auto;
  background-color: black;
}

.search input {
  background-color: black;
  width: 60%;
  color: white;
  outline: none;
}

input {
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
  color: white;
}

.search button {
  margin: 0;
  width: 30%;
  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: purple;
  color: white;
  outline: none;
}
