h1 {
  padding: 0;
  margin: 0;
}

/*Main container*/
.discover-cont {
  background-image: url("https://i.imgur.com/NGTcZ55.jpeg");
  color: rgba(117, 7, 117, 0.809);
  flex-wrap: wrap;
  justify-content: center;
}

/*search bar*/
.search {
  border: 3px solid white;
  border-radius: 1rem;
  width: 50vh;
  justify-content: space-between;
  margin: auto;
  background-color: black;
}

.search input {
  background-color: black;
  width: 60%;
  color: white;
  outline: none;
}

input {
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  border: none;
}

.search button {
  margin: 0;
  width: 30%;
  font-size: 1.3rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: purple;
  color: white;
  outline: none;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(181, 66, 185);
}

/*main button container*/
.grid-container-discover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px auto;
  flex-wrap: wrap;
}

/*button conatainer*/
.grid-item-discover {
  /* background-color: purple; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  margin: 15px 15px 15px;
  border-radius: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.grid-item-discover button {
  width: 350px;
  height: 350px;
  outline: none;
  border-radius: 20px;
  border: none;
  transform: scale(1);
  transition: transform 0.5s;
  color: purple;
}

.grid-item-discover button:hover {
  transform: scale(1.1);
  color: purple;
}

.grid-item-discover img {
  width: 200px;
  height: 250px;
}

/*image button*/
.discoverS-btn {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  justify-content: space-around;
  font-size: 26px;
  font-family: "Caveat Brush", cursive;
  background-color: aliceblue;
}

.discoverS-btn:hover {
  background-image: url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/amiibo_4/H2x1_Amiibo_main_image1600w.jpg");
  box-shadow: 0 5px 15px rgba(145, 92, 182, 1);
}

@media (min-width: 600px) {
  .grid-item-discover {
    grid-template-columns: repeat(2, 1fr);
  }
}
