.faq-cont {
  justify-content: center;
  color: black;
  align-items: center;
  margin: auto;
  /* width: 80vh; */
}

.faq-cont h1 {
  color: white;
}

.faq {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), purple;
  height: 580px;
}
