.carousel {
  overflow: hidden;
  flex-direction: column;
}

.inner {
  white-space: nowrap;
  transition: transform 1s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  height: 100vh;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.carousel-item > .item > img {
  margin: auto;
}
@media (max-width: 768px) {
  .carousel-item > img {
    width: 100%;
  }
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  background: purple;
  border: 0.5px solid purple;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.indicators > button.active {
  background-color: initial;
  background-position: 0 0;
  color: purple;
  opacity: 0.5;
}

.carousel-buttons button {
  margin-right: 10px;
}

.relative {
  position: relative;
}

/*.absolute-left {
  position: absolute;
  right: 0;
  bottom: 50%;
}

.absolute-right {
  position: absolute;
  left: 0;
  bottom: 50%;
}

*/
