.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.d-flex {
  display: flex;
}

/*main navbar container*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*navbar content*/
.grid-item {
  background-color: white;
  border: none;
  padding: 20px 20px 0px 20px;
  font-size: 30px;
  right: 0;
  z-index: 1;
}

.logo {
  text-align: left;
  margin: 0;
  padding: 0;
  background-color: white;
}

.logo img {
  width: 25%;
  margin-left: 25px;
  padding-top: 15px !important;
}

/*navbar menu buttons*/
.menu-buttons {
  text-align: right;
}

.menu-buttons button {
  width: 20%;
  margin-right: 30px;
  font-size: 1rem;
  padding: 1rem;
  outline: none;
  background-color: white;
  color: black;
  border: none;
  border-bottom: 4px solid purple;
}

/*Home nav button active*/
.home-btn > button.active {
  background-color: initial;
  background-position: 0 0;
  color: purple;
  opacity: 0.5;
}

/*Discover nav button active*/
.discover-btn > button.active {
  background-color: initial;
  background-position: 0 0;
  color: purple;
  opacity: 0.5;
}

/**/
.grid-item__icon {
  display: none;
}

@media (max-width: 768px) {
  .grid-item {
    position: fixed;
  }

  .logo img {
    width: 30%;
    padding-top: 15px !important;
  }
}

@media (max-width: 768px) {
  .menu-buttons:not(.visible) {
    display: none;
  }
  .menu-buttons button {
    display: block;
    width: 100%;
  }
  .menu-buttons.icon {
    float: right;
    display: block;
  }
  .grid-item__icon {
    display: inline-block;
    background-color: white;
  }
  .grid-item__icon div {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }
}

@media screen and (max-width: 768px) {
  .menu-buttons.responsive {
    position: relative;
  }
  .menu-buttons.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-buttons.responsive {
    float: none;
    display: block;
    text-align: left;
  }
}
